# node.js & dependencies
node_modules
.next
build
dist

# database
*.db
*.sqlite
local.db

# env files
.env
.env.local
.env.production
.env.development

# OS & debug logs
.DS_Store
*.log
npm-debug.log*
